%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
[{kernel
 ,[{logger
   ,[{handler
     ,default
     ,logger_std_h
     ,#{config => #{type => standard_io}
       ,formatter => {logger_formatter
		     ,#{legacy_header => false
		       ,single_line => true}}}}]}]}
,{ssh_maint_ep
 ,[{port, 22}
  ,{opts, [inet,inet6]}
  ,{server_key_pem,"/root/ssh_maint_ep/server_key.pem"}
  ,{trust_first_user_key,true}
  ,{auth_db,"/root/ssh_maint_ep/auth_db.dets"}]}
].
